#main-section {
    width: 100%;
}

#sidebar {
    margin-top: 32px;
    float: left; /* Make this div as wide as its contents */
    padding-left: 16px;
    padding-top: 48px;
    padding-right: 16px;
    border-right: 0.5px solid #898c91;
}

#sidebar p {
    padding-left: 32px;
    padding-right: 32px;
}

#sidebar h4 {
	padding-left: 16px;
}

#display-message-section {
    margin-top: 80px;
    overflow-y: auto; /*Make  this section scrolable */
}

#input-area {
    padding-left: 16px;
    padding-right: 16px;
}
